<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>speed</key>
		<real>2</real>
		<key>bpm</key>
		<integer>100</integer>
		<key>activity</key>
		<string>warmup</string>
	</dict>
	<dict>
		<key>speed</key>
		<integer>3</integer>
		<key>bpm</key>
		<integer>120</integer>
		<key>activity</key>
		<string>slowWalk</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>3.3</real>
		<key>bpm</key>
		<integer>125</integer>
		<key>activity</key>
		<string>slowWalk</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>3.5</real>
		<key>bpm</key>
		<integer>130</integer>
		<key>activity</key>
		<string>briskWalk</string>
	</dict>
	<dict>
		<key>speed</key>
		<integer>4</integer>
		<key>bpm</key>
		<integer>135</integer>
		<key>activity</key>
		<string>powerWalk</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>4.3</real>
		<key>bpm</key>
		<integer>140</integer>
		<key>activity</key>
		<string>powerWalk</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>4.6</real>
		<key>bpm</key>
		<integer>145</integer>
		<key>activity</key>
		<string>walkJog</string>
	</dict>
	<dict>
		<key>speed</key>
		<integer>5</integer>
		<key>bpm</key>
		<integer>148</integer>
		<key>activity</key>
		<string>jogging</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>5.5</real>
		<key>bpm</key>
		<integer>150</integer>
		<key>activity</key>
		<string>jogging</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>6</real>
		<key>bpm</key>
		<integer>155</integer>
		<key>activity</key>
		<string>running</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>6.7</real>
		<key>bpm</key>
		<integer>155</integer>
		<key>activity</key>
		<string>running</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>7.5</real>
		<key>bpm</key>
		<integer>165</integer>
		<key>activity</key>
		<string>running</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>8.6</real>
		<key>bpm</key>
		<integer>172</integer>
		<key>activity</key>
		<string>fastRun</string>
	</dict>
	<dict>
		<key>speed</key>
		<real>9.199999999999999</real>
		<key>bpm</key>
		<integer>177</integer>
		<key>activity</key>
		<string>fastRun</string>
	</dict>
	<dict>
		<key>speed</key>
		<integer>10</integer>
		<key>bpm</key>
		<integer>180</integer>
		<key>activity</key>
		<string>fastRun</string>
	</dict>
	<dict>
		<key>speed</key>
		<integer>12</integer>
		<key>bpm</key>
		<integer>190</integer>
		<key>activity</key>
		<string>sprint</string>
	</dict>
</array>
</plist>
